# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# IDE and Editor Folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# SODA-specific output files
soda_results/
graph.png

# Log and output files
*.log
*.out
*.err

# Output directories 
output
results

# Microbench-specific
*.nsys-rep
*.qdrep
*.sqlite
*.nvvp
traces/
*.tmp
temp_*.json
*dev*
